<?xml version="1.0" encoding="utf-8"?>
<config>
    <allowed-sites>
       <start-url>https://www.google.com</start-url>
       <host-regex>^.*google\.com$</host-regex>
       <host-regex>^.*slashdot.org$</host-regex>
       <host-regex>^.*facebook.com$</host-regex>
    </allowed-sites>
    <script host-regex="^.*facebook.com.*$">
        alert("Domain specific scripts are allowed as well");
    </script>
</config> 


